<template>
  <div>
    <layout>

      <template
        slot="header">
        <search
          v-model="query"/>

        <template
          v-for="option in Object.keys(displayOptions)">
          <input
            type="radio"
            :id="option"
            :value="option"
            v-model="display">
          <label
            :for="option">
            {{ option }}
          </label>
        </template>

        <span>{{ resultsCount }}</span>
        <list
          :items="results"
          :max="10">
          <show
            slot-scope="show"
            v-bind="show">
            <button
              v-if="!shows[show.id]"
              @click="addShow(show)">
              +
            </button>
            <span
              v-else>
              ✓
            </span>
          </show>
        </list>
      </template>

      <list
        slot="content"
        :items="shows">
        <show
          :is="selectedDisplay"
          slot-scope="show"
          v-bind="show"/>
      </list>
    </layout>
  </div>
</template>

<script>
  import Show from './Show'
  import Cover from './Cover'
  import Search from './Search'
  import Layout from './Layout'
  import List from './List'
  import { search } from '../api'

  const displayOptions = {
    Cover,
    Show
  }

  export default {
    components: {
      Show,
      Cover,
      Search,
      Layout,
      List,
    },

    data() {
      return {
        shows: {},
        query: '',
        displayOptions,
        display: Object.keys(displayOptions)[0],
      }
    },

    asyncComputed: {
      results() {
        return this.query
          ? search(this.query)
          : []
      }
    },

    computed: {
      resultsCount() {
        return this.results && this.results.length > 0
          ? `Résultats de '${ this.query }' (${ this.results.length })`
          : ''
      },

      selectedDisplay() {
        return this.displayOptions[this.display];
      }
    },

    methods: {
      addShow(show) {
        this.$set(this.shows, show.id, show)
      }
    }
  }
</script>

<style>

</style>
