<template>
  <div>
    <header>
      <slot name="header"/>
    </header>
    <section>
      <slot name="content"/>
    </section>
  </div>
</template>

<script>
  export default {
  }
</script>

<style>

</style>
