<template>
  <ul>
    <template
      v-for="item, i in items"
      v-if="i < max">
      <li
        :key="item.id">
        <slot v-bind="item"/>
      </li>
    </template>
  </ul>
</template>

<script>
  export default {
    props: {
      items: Array,
      max: {
        type: Number,
        default: Infinity
      }
    }
  }
</script>

<style>

</style>
