<template>
  <div>
    <input
      v-model="localQuery"/>
    <button
      v-show="this.query"
      @click="clear">×</button>
  </div>
</template>

<script>
  import Show from './Show'

  export default {
    props: {
      query: String
    },

    model: {
      prop: 'query',
      event: 'input'
    },

    computed: {
      localQuery: {
        get() {
          return this.query
        },

        set(value) {
          this.$emit('input', value)
        }
      }
    },

    methods: {
      clear() {
        this.localQuery = ''
      }
    }
  }
</script>

<style>

</style>
