<template>
  <div
    class="show">
    <img
      class="poster"
      :src="poster"/>
    <h1
      class="title">
      {{ title }}
    </h1>
    <span>{{ rating }}</span>
    <br/>
    <span>{{ formatted_air_date }}</span>
    <slot />
  </div>
</template>

<script>
  export default {
    props: {
      title: String,
      poster: String,
      rating: Number,
      first_air_date: Date
    },
    
    computed: {
      formatted_air_date() {
        return this.first_air_date.toUTCString().replace(' 00:00:00 GMT', '')
      }
    }
  }
</script>

<style>

</style>
